body {
    font-family: 'Nova Round', cursive;
}

.top {
    display: flex;
    overflow: hidden;
    margin: 0px 5px 10px 50px;
}

.container-half {
    width: 50%;
    font-size: 25px;
    margin-top: 5%;
}

.container-half img {
    width: 80%;
    /* margin-top: 20%; */
}

.container-half span {
    color: brown;
}

/* #firstContainer {
    margin-top: 20%;
} */

.link-button {
    text-decoration: none;
    background-image: linear-gradient(30deg, rgba(255, 0, 0, 0.905), rgba(165, 42, 42, 0.583));
    padding: 5px 10px;
    border-radius: 10px;
}

.two {
    display: flex;
    overflow: hidden;
    background-image: url(images/7.png);
}

.recipies-title {
    text-align: center;
}

.recipies {
    display: flex;
    overflow: hidden;
    padding: 5%;
}

.recipie-card {
    display: block;
    width: 30%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0px rgba(37, 71, 107, 0.385);
    justify-content: center;
    align-items: center;
}

.recipie-card img {
    /* object-fit: fill;
    width: 400px;
    height: 400px; */
    width: 100%;
    border-radius: 10px;
}